ALIBABA_CLOUD_ACCESS_KEY_ID=replace_with_access_key_id
ALIBABA_CLOUD_ACCESS_KEY_SECRET=replace_with_access_key_secret
ALIYUN_TINGWU_APP_KEY=replace_with_tingwu_app_key
ALIBABA_CLOUD_REGION_ID=cn-beijing
